{% extends 'master.html' %}

{% block body %}
<section id="form" style="margin-left:30%;"><!--form-->
		<div class="container">
            <div class="col-sm-4 col-sm-offset-1">
			
                    <div class="signup-form"><!--login form-->
						<h2>Login To Your Account</h2>
						<form method="post">
                                 {% csrf_token %}
                                 {% for field in form %}
                                 {{field.errors}}
                                 <label>{{field.label_tag}}</label>
                                 <p>{{field}}</p>
                                 {%endfor%}
                                 <a herf="#" style="float:right">Forgot Password ?</a><br>

                                 <button class="btn btn-danger" type="submit">Login </button>
                                 <a herf="{%url 'signup'%}" style="float:right"><span style="color:black;margin-left:130px;">Create Your Account&r.bsp;&rarr</span></a><br>
                        </form>
                    </div>
            </div>
        </div>

</section>

{%endblock%}